body{margin:0px;}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.0);
}

#navbar{
  display: flex;
  align-items: center;
  flex-direction: row;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#navbar li a:hover{
    color: #088178;
}

#header {
  position: relative;
  z-index: 1;
}

section:not(#header) {
  padding-top: 10 0px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
  }

.button.hovery {
    color: white;
  }
  .button.hovery::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    background-color: white;
    transition: width 0.3s ease-in-out;
  }
  .button.hovery::after {
    bottom: 0;
  }
  .button.hovery:hover::after {
    width: 50px;
  }

.section-p1 {
  padding: 40px 80px;
}

#product1{
  text-align: center;
}

#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
}

#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des{
  text-align: start;
  padding-top: 5px;
  font-size: 15px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}